/*reset do css*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    height: 100vh;
    font-family: 'Comfortaa', cursive;
    color: black;
    font-size: 20px;
    line-height: 2em;
    width: 600px;
    margin: auto;
    padding: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0.473);
}
