body {
    background-image: linear-gradient(rgb(0, 0, 0), rgba(0, 18, 175, 0.664));
    background-size:auto 100vh; /*vh adapta a altura da tela*/
    font-family: Arial, Helvetica, sans-serif;
    height:100vh;
}
.menu {
    background-color: black;
}

.menu ul {
    display: flex; /*deixa o menu na horizontal*/
    justify-content: space-between;
}

.menu li {
    list-style: none;
}

a {
    color: whitesmoke;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


.site-title {
    color:whitesmoke;
    text-align: center;    
}


.site-subtitle {
    color:whitesmoke;
    font-style: italic;
    text-align: center;
}