/*reset do css*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    height: 100vh;
    font-family: 'Comfortaa', cursive;  
}

/*se a tela tiver pelo menos 400px vai carregar estes estilos*/
@media(min-width:400px){
    body{
        font-size: 16px;
    }
    .contato,
    .portfolio {
      padding: 3em 2em 2em;
      height: 100vh;
    }
  
    .grid {
      grid-template-columns: 200px 200px;
      height: calc(100vh - 4.5em - 75px);
    }
}

@media (min-width: 940px) {
    body {
        font-size: 20px;
    }
    .contato,
    .portfolio {
      padding: 2em;
    }
  
    .grid {
      grid-template-columns: repeat(4, 200px);
      height: calc(100vh - 8em - 75px);
    }
}

header{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.menu {
    background-color: whitesmoke;
    position: fixed;
    width: 100vw;
    top: 0;
}

.menu ul {
    display: flex; /*deixa o menu na horizontal*/
    justify-content: space-around;
}

.menu li {
    list-style: none;
}

.menu a {
    color: black;
    display: block;
    padding: 10px;
    text-decoration: none;
}

.site-title {
    color: black;
    text-align: center;
    font-family: 'Courgette', cursive;
    font-size: 4em;
    line-height: 1em;
    margin-bottom: 20px;
    text-align: center;    
}

.site-subtitle {
    color: black ;
    font-style: italic;
    font-family: 'Courgette', cursive;
    font-weight: lighter;
    text-align: center;
    font-size: 2em;
}

.contato,
.portfolio {
    padding: 1em;
}

.contato h2,
.portfolio h2 {
    color: black;
    font-size: 2em;
    margin-bottom: .5em;
}

.grid {
    color: gray;
    display: grid;
    gap: 1em;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.portfolio figcaption {
    font-weight: bold;
}

.img-portfolio {
    border-radius: 10px;
    height: 180px;
    object-fit: cover;
    width: 180px;
}

.icons a{
    color: black;
    font-size: 6em;
}