/*reset do css*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('https://inteng-storage.s3.amazonaws.com/img/iea/9lwjAVnM6E/sizes/ocde_resize_md.jpg');
    background-size:auto 100vh; /*vh adapta a altura da tela*/
    font-family: Arial, Helvetica, sans-serif;
    height:100vh;
}

/*se a tela tiver pelo menos 400px vai carregar estes estilos*/
@media(min-width:400px){
    body{
        font-size: 18px;
    }

}

@media (min-width: 600px) {
    body {
        font-size: 22px;
    }
}

header{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.menu {
    background-color: whitesmoke;
    position: fixed;
    width: 100vw;
    top: 0;
}

.menu ul {
    display: flex; /*deixa o menu na horizontal*/
    justify-content: space-around;
}

.menu li {
    list-style: none;
}

.menu a {
    color: black;
    display: block;
    padding: 10px;
    text-decoration: none;
}

.site-title {
    color: black;
    text-align: center;    
}

.site-subtitle {
    color: black ;
    font-style: italic;
    font-weight: lighter;
    text-align: center;
    font-size: 2em;
}

.img-portfolio {
    color: black;
    height: 180px;
    width: 180px;
}

.portfolio {
    color: black;
}

.figcaption {
    color: black;
}